body {
    font-family: var(--fonte);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
